body {
  margin: 0;
  font-family: Arial, sans-serif;
  align-content: center;
  text-align: center;
  font-weight: 15;
  font-size: larger;
}

.verde {
  background-color: #8ACE00;
  height: 60vh;
}

.branco {
  background-color: white;
  height: 50vh;
}
